@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

h2{
    font-size: 6em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
}

h2 span{
    transition: 0.8s;
}
h2:hover span:nth-child(1)
{
    margin-right: 6px;
}
h2:hover span:nth-child(1)::after
{
    content: "'";
}
h2:hover span:nth-child(2)
{
    margin-left: 40px;
    font-size: 110%;
}

h2:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff;
}